/* Heading Fonts */
@font-face {
  font-family: "zalando";
  src: url("./zalando/ZalandoSansExpanded-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "zalando";
  src: url("./zalando/ZalandoSansExpanded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "zalando";
  src: url("./zalando/ZalandoSansExpanded-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Body Fonts */
@font-face {
  font-family: "satoshi";
  src: url("./satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "satoshi";
  src: url("./satoshi/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "satoshi";
  src: url("./satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
